<div class="new-word-wrapper">
  <div class="new-word-nav" routerLink="/home">
    <mat-icon>arrow_back_ios</mat-icon>
  </div>
  <div class="new-word-create">
    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <form>
        <mat-tab label="Słówko">
          <h1>Nowe słówko</h1>
          <div class="new-word-form">
            <mat-form-field>
              <mat-label>Wpisz angielskie słówko</mat-label>
              <input [(ngModel)]="word.name"
                     name="name"
                     matInput>
            </mat-form-field>
            <div class="new-word-button-wrapper">
              <button (click)="selectedIndex = 1"
                      mat-raised-button
                      color="primary"
                      type="button">
                <mat-icon>navigate_next</mat-icon>
              </button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Tłumaczenie">
          <h1>Dodaj tłumaczenie</h1>
          <div class="new-word-form">
            <mat-form-field>
              <mat-label>Wpisz tłumaczenie</mat-label>
              <input [(ngModel)]="word.translation"
                     name="translation"
                     matInput>
            </mat-form-field>
            <div class="new-word-button-wrapper">
              <button (click)="saveWord()"
                      mat-raised-button
                      color="primary"
                      type="button">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </mat-tab>
        <mat-tab [disabled]="true"
                 label="Podsumowanie">
          <h1>Podsumowanie</h1>
          <p>Gratulacje! Właśnie dodałeś nowe słówko!</p>
          <button routerLink="/home"
                  mat-raised-button
                  color="primary"
                  type="button"
                  class="new-word-home-button">
            Przejdź do menu głównego
          </button>
          <button (click)="this.selectedIndex = 0"
                  mat-raised-button
                  color="accent"
                  type="button">
            Dodaj kolejne słówko
          </button>
        </mat-tab>
      </form>
    </mat-tab-group>


  </div>
  <div class="new-word-last-wrapper">
    <h1>Ostatio dodane</h1>
    <div class="new-word-last-list">
      <span *ngFor="let word of words">
        {{word.name}}
      </span>
      <div *ngIf="isLoading"
           class="new-word-last-spinner">
        <app-spinner></app-spinner>

      </div>
      <div *ngIf="!isLoading && words.length === 0"
           class="new-word-last-info">
        <app-no-data-info header="Brak słówek do wyświetlenia."
                          content="Dodaj słówko w formularzu powyżej."></app-no-data-info>
      </div>

    </div>
  </div>
</div>


