/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.success-snackbar {
  color: white;
  background: limegreen;
  background: -webkit-linear-gradient(to left, green, limegreen);
  background: linear-gradient(to left, green, limegreen);
}

.fail-snackbar {
  color: white;
  background: red;
  background: -webkit-linear-gradient(to left, orange, orangered);
  background: linear-gradient(to left, orange, orangered);

}
