<div class="home-wrapper">
  <div class="home-logo">
    <img src="assets/images/logo.svg" alt="logo"/>
  </div>
  <div class="home-nav">
    <button mat-raised-button color="primary" routerLink="/new-word">Dodaj słówko</button>
    <button mat-raised-button color="primary" routerLink="/flashcards">Fiszki</button>
    <button mat-raised-button color="primary" routerLink="/exam">Test</button>
    <button mat-raised-button color="primary" routerLink="/most-watched">Najczęściej podglądane</button>
    <button mat-raised-button color="primary" routerLink="/learned-words">Poznane słowa</button>
  </div>
</div>
